html, body {
    height: 100%;
}

body {
    font-family: 'Arbutus', cursive;
    color: black;

    /* The image used */
    background-image: url("../images/poster-background.jpeg");

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg { 

}

.card {
	background-color: #C19E75;
}

.title-text {
	text-align: center;
}


#guessed-display,
#word-display {
	letter-spacing: 15px;
    font-size: 28px;
}

#word-display:first-letter {
	text-transform: capitalize;
}

.letter-input {
    width: 40px;
    height: 40px;
    margin: 5px 0;
    color: black;
    background-color: #C19E75;
}

.letter-input:focus {
    outline: 0;
}